---
import { NavRoute } from "../../components/header/Header.type";
import RootLayout from "../../layouts/RootLayout.astro";
---

<RootLayout activeRoute={NavRoute.About}>
  <h1 class="text-center text-primary title">This is About page</h1>
</RootLayout>
