---
import { NavRoute } from "../components/header/Header.type";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout activeRoute={NavRoute.Home}>
  <div class="container mx-auto">
    <h1 class="text-center title text-primary">This is home page</h1>
  </div>
</RootLayout>
