---
import { NavRoute } from "../components/header/Header.type";
import RootLayout from "../layouts/RootLayout.astro";
import CoverPhoto from "../components/cover/CoverPhoto";
---

<RootLayout activeRoute={NavRoute.Home}>
  <CoverPhoto client:only="preact" />
  <div class="h-[90dvh]" id="promotion">Promotion</div>
</RootLayout>
