---
import { Image } from "astro:assets";
import { type NavItems, NavName, NavRoute } from "./Header.type";
import LoginBtn from "./login/LoginBtn";
import logo from "../../assets/icons/logo.svg";
const { activeRoute } = Astro.props as { activeRoute: NavRoute };
const routes: NavItems = [
  {
    name: NavName.Home,
    path: NavRoute.Home,
    isActive: false,
  },
  {
    name: NavName.About,
    path: NavRoute.About,
    isActive: false,
  },
  {
    name: NavName.Menu,
    path: NavRoute.Menu,
    isActive: false,
  },
].map((r) => (r.path === activeRoute ? { ...r, isActive: true } : r));
---

<header
  class="flex gap-10 items-center shadow-md p-3 bg-primary-dark h-[10dvh] w-full fixed z-10 top-0"
  transition:name="header"
>
  <a href="/"><Image src={logo} alt="logo" height={50} /></a>
  <nav
    class="flex gap-2 sm:gap-5 flex-grow text-xs font-bold text-accent items-center"
  >
    {
      routes.map((r) => (
        <a
          class={
            r.isActive
              ? "text-secondary pointer-events-none"
              : "hover:text-primary"
          }
          href={r.path}
        >
          {r.name}
        </a>
      ))
    }
  </nav>
  <LoginBtn client:only="preact" transition:persist />
</header>
